body{
    background-color: #D0A98F;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    font-size: 2.5em;
    padding-left: 1em;
    padding-top: 0.2em;
    margin: auto;
}

p{
    font-size: 1.2em;
    color: #4D243D;
    background-color: #EDD4B2;
    width: fit-content;
    padding: 20px 20px 20px 20px;
    margin-top: 50px;
}

svg{
    background-color: lightblue;
}


#tasksvg{
    border: 3px dashed black;
}
.country:hover{
    fill: white;
}

.center{
    margin: auto;
    width: 50%;
    text-align: center;
}

.task{
    width: 70%;
    margin: auto;
}

.radiodiv{
    border: 1px solid black;
    margin-top: 5px;
    margin-bottom: 50px;
    padding-left: 4px;
    float:left;
}

#casebox{
    fill: white;
    stroke: black;
    stroke-width: 2px;
}

.tripsvg{
    margin: 5px 5px 5px 5px;
}

#TaskMain{
    display: inline-grid;
    grid-template-columns: auto auto auto;
}